/*--------------
  google font
-------------- */
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@400;500;600;700&family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;  
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* --------------------
header section start
--------------------- */

.container{
    width: 100%;      
}
.banner-items{
    width: 90%;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient( #545353,#000f19);
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;        
    overflow: hidden;   
    border-radius: 20px;   
}

.banner-deatails{
    width: 50%;
    margin-left: 100px;
    padding-right: 10px;
}
.banner-title{
    font-size: 3em;
    line-height: 60px;
    margin-bottom: 20px;    
}
.banner-info{
    font-size: 12px;
    margin-top: 0;    
}
.banner-special-button{
margin-top: 20px;
}

/* button */

.banner-button {
  min-width: 150px;
  min-height: 50px;  
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #ffffff;
  background: #b00b71dd;
  background: linear-gradient(90deg, rgba(129, 230, 217, 0.48,rgba(79, 209, 196, 0.512),197,1) 100%);
  border: none;
  border-radius: 3px;
  box-shadow: 0px 0px 30px rgba(8, 194, 175, 0.769);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
  }

button::before {
  content: '';
  border-radius: 3px;
  min-width: calc(150px + 12px);
  min-height: calc(50px + 12px);
  border: 3px solid #00FFCB;
  box-shadow: 0 0 60px rgba(0,255,203,.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
}

.button:hover, .button:focus {
  color: #ff007b;
  transform: translateY(-6px);
}

button:hover::before, button:focus::before {
  opacity: 1;
}

button::after {
  content: '';
  width: 30px; height: 30px;
  border-radius: 100%;
  border: 5px solid #ff0000;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

button:hover::after, button:focus::after {
  animation: none;
  display: none;
}
@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}
.banner-images, .banner-two, .banner-three{  
    width: 50%;
}
.banner-images,.banner-two, .banner-three img{
    width: 70%; 
  
}

/*-----------------
 blog section start
 --------------------*/
 .blog-container{
    width: 100%;
    height: fit-content;    
 }

 .blog-items{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-top: 120px;
 }
 .blog-nav{   
    width: 250px;
    height: 250px;
    background:linear-gradient( #450b13b7,#165223c4);
    border-radius: 8px;
    padding: 10px; 
    margin-right: 20px; 
 }
 #Blog{
  background:linear-gradient( #9e9d9d,#0069ab);
  color: #fff;
 }
 .blog-nav a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;     
    text-decoration: none;
    color:rgb(0, 0, 0);
    font-weight: 700;
    width:180px;
    height: 50px;
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
 }
.nav-button{
margin-top: 20px;
}
 .blog{
    border: 1px solid rgba(171, 169, 169, 0.166);
    width: 310px;
    height: 360px;    
    border-radius: 10px;    
 }
 .blogs{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(2,1fr);
  grid-gap: 20px;   
}
 .blog-image img{
    width: 100%;
    height: 180px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
 }
 .blog-info{
    padding: 15px;
 }
 .blog-info span{
    border: 2px solid gray;
    padding: 2px 8px;
    border-radius: 4px;
 }
 .blog-title{
    margin-top: 20px;
    font-size: 1em;
 }
 .blog-duration{
    margin-top: 20px;
    color: rgba(128, 128, 128, 0.935);    
 }
 .blog-duration i{
  margin-right: 10px;
 }
 .fa-message{
  margin-left: 20px;
 }
 


   /*---------------------
        view button
    -------------------- */

    .view-button {
        visibility: hidden;
        display: inline-block;
        width: 100%;   
        text-align: center; 
        margin-top: 40px;        
    }
    .buttons{
        text-decoration: none;
        padding: 10px 20px ;
        border-radius: 4px ;
        background-color: orangered;
        color: #fff;
    }


 /*---------------------
  footer section start
  ---------------------- */

  .footer-container{
    width: 100%;
    margin-top: 60px;
    background-color:rgba(0, 0, 0, 0.878);
    border: 1px solid;
  }
  .footer-item{    
    height: 60vh;    
    text-align: center;
  }  
  .footer-title{
    font-size: 3em;
    margin: 100px 0 40px 0;
    color: #fff;
  }
  .footer-item hr{ 
    border-color: rgba(219, 209, 209, 0.31);
    margin: 0 100px;
  }
  .footer-nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
  .footer-nav > ul >li {
    list-style: none;
    color:rgb(174, 173, 173);
    padding-right: 30px;    
  }

 .media-icon{
  margin-top: 15px;
}
  .media-icon a{  
    display: inline-block; 
    text-decoration: none;
    color: #fff;
    margin-right: 10px;
    font-size: 30px;  
  }
  
  .fa-facebook-square:hover{    
    color: rgba(7, 19, 156, 0.938);
    background-color: rgba(255, 255, 255, 0.927);
    border-radius: 25px;
    padding: 7px;   
  }
  .fa-instagram:hover{    
    color: rgba(194, 4, 4, 0.938);
    background-color: rgba(255, 255, 255, 0.927);
    border-radius: 25px;
    padding: 7px;   
  }
  .fa-twitter-square:hover{    
    color: rgba(7, 19, 156, 0.938);
    background-color: rgba(255, 255, 255, 0.927);
    border-radius: 25px;
    padding: 7px;   
  }
  .fa-linkedin:hover{    
    color: rgba(196, 8, 8, 0.938);
    background-color: rgba(255, 255, 255, 0.927);
    border-radius: 25px;
    padding: 7px;   
  }


  /*------------------- 
        media quary
   --------------------*/

   /* -------------------
         Mobile-device
    --------------------*/

  @media only screen and (max-width:576px) {
    .banner-items{
      width: 90%;
      height: 90vh;      
      display: flex;
      flex-direction: column;          
      justify-content: center;
      margin-top: 30px;                 
    }    
    .banner-deatails{
      width:100%; 
      padding: 20px;
      text-align: center; 
      margin-left: auto;   
      margin-right: auto;
      margin-bottom:20px ; 
      line-height: 20px;                     
    }
    .banner-title{      
      font-size: 2.4em;
      line-height: 40px;         
    }     
    .banner-images, .banner-tow, .banner-three{    
      width: 50%;      
      margin-top: 20px;    
    }

    .blog-items{
      width: 100%;     
      display: flex;
      flex-direction: column;
      margin-top: 0px;
   } 
    .blog-container{
      width: 100%;
      margin-top: 0;
    }
    .blog-nav{       
      width: 100%;      
      background-color: #ffffff;      
   }  
   .blog-nav a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;     
    text-decoration: none;
    color:rgb(0, 0, 0);
    font-weight: 700;
    width:180px;
    height: 50px;
    border: 1px solid rgba(128, 128, 128, 0.346);    
    border-radius: 10px;
 }
  .blogs{ 
      width: 100%;          
      display: flex;
      flex-direction: column;           
  }
.blog{
  width: 90%;  
  margin-left: auto;
  margin-right: auto;   
}
.footer-container{
  width: 100%;
  margin-top: 0;
  background-color: #161616;  
}
.footer-item{    
  height: 60vh;    
  text-align: center;
} 
.footer-nav > ul {
  font-size: 15px;  
  display: flex;
  flex-direction:column;  
}

}


  /*--------------------
        Tablet device 
   ---------------------*/
   @media only screen and (min-width:768px) and (max-width:992px){
       .container{
        width: 100%;                  
       }

    .banner-items{    
      width: 90%;
      height: 60vh;
      margin-left: auto;
      margin-left: auto;
      padding-right: 10px;                      
    }
    .banner-deatails{
      width: 50%; 
  }
  .banner-title{
    font-size: 2em;
    line-height: 30px;
    margin-bottom: 10px;    
}
.banner-images, .banner-tow, .banner-three{    
  width: 50%;  
}

.blog-items{
  margin-top: 0;  
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blog-nav{
  width: 100%;
  height: 150px;
  display: flex;
  background-color: #fff;
  align-items: center;
  justify-content: center;
}
.nav-button{
  border: 1px solid rgba(128, 128, 128, 0.859);
}

.blogs{ 
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.blog{
width: 100%;
}

.footer-container{
  width: 100%;
}
.footer-item{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.view-button{
  visibility: visible;
}

  }

  /* -------------------------
  upcomaing match site start 
  ----------------------------*/ 
  .upcomaing-card{
    width: 100%;    
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-gap: 20px;   
  }
  .upcomaing-card-item{
    border: 1px solid rgba(171, 169, 169, 0.373);
    width: 310px;
    height: 360px;  
    border-radius: 10px;        
 }
  .upcomaing-flag{
    display: flex;
    justify-content: space-evenly; 
    align-items: center;     
  }
  .upcomaing-flag span{
    margin-top: 100px;
    font-size: 17px;
    font-weight: 700;
  }
  .upcomaing-flag img{
    margin-top: 100px;    
    width: 100px;
    height: 100px;   
  }
  .upcoming-info{
    text-align: center;
    margin-top: 10px ;
    margin-bottom: 20px;
    padding: 10px 0;
  }
  .upcaming-card-title{
    margin-top: 10px;
    margin-bottom:10px ;
  }
  .upcaming-button{
    background:linear-gradient( #0990afd6,#7b3b9b,#b83b43e3);   
  }
  #Upcoming-Match-button{
    background:linear-gradient( #11a9cbcb,#a340d4d1,#d1343ecb);   
      color: #fff;  
  }

  /* ----------------------------------------
    upcomaing match site start media quary
    -------------------------------------- */

    
  /*--------------------
        mobile device 
   ---------------------*/

    @media only screen and (max-width:576px){
      
      .upcomaing-card{ 
        width: 100%;          
        display: flex;
        flex-direction: column;
    }
       .upcomaing-card-item{
      width: 90%;
      margin-left: auto;
      margin-right: auto;
    }
    
    }


    
  /*--------------------
        Tablet device 
   ---------------------*/


    @media only screen and (min-width:768px) and (max-width:992px){
      .upcomaing-card{ 
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
      .upcomaing-card-item{
      width: 100%;
      }
      .footer-container{
        width: 100%;
      }
      .footer-item{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
      }
      
    }
    
/*----------------------
 All group site start 
 -----------------------*/
 .All-group{
  background:linear-gradient( #19057b76,#045f86,#05793881);
}
 #All-group-button{
  background:linear-gradient( #2c14a4b1,#12719a,#19ae5ac8);
  color: #fff;  
}
 .group{
  border: 1px solid rgba(171, 169, 169, 0.166);
  width: 310px;
  box-shadow: 10px 10px 40px rgba(151, 148, 148, 0.347) ;
  height: 360px;    
  border-radius: 10px;    
}
.groups{
display: grid;
grid-template-columns: repeat(3,1fr);
grid-template-rows: repeat(2,1fr);
grid-gap: 20px;   
}
.group-image img{
  width: 100%;
  height: 180px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.group-info{
  padding: 15px;  
  text-align: center;
}
.group-info span{  
  font-size:1.7em;
  font-weight: 700; 
}
.group-title{
  margin-top: 10px;
  font-size: 1em;
}
.group-duration{
  margin-top: 20px;
  color: rgba(128, 128, 128, 0.935);    
}
.group-duration i{
margin-right: 10px;
}
.fa-thumbs-down, .fa-heart{
margin-left: 20px;
}


/*---------------------------
 all group site media quary 
 ---------------------------*/


 /*-----------------------
        mobile device 
   ------------------------*/

 @media only screen and (max-width:576px){
  .groups{ 
    width: 100%;          
    display: flex;
    flex-direction: column;      
}
.group{
  width: 90%;  
  margin-left: auto;
  margin-right: auto;  
}
 }


 /*-----------------------
        Tablet device 
   ------------------------*/

 @media only screen and (min-width:768px) and (max-width:992px){

  .groups{ 
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .group{
  width: 100%;
  }
  .footer-container{
    width: 100%;
  }
  .footer-item{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

 }